.book {
  display: flex;
  width: 100%;
  height: 70vh;
  /* align-items: center; */
}

.left {
  width: 50%;
}
.steps {
  margin-top: 50px;
  padding-right: 20px;
}
.bg {
  margin-left: 150px;
  height: 30vh;
  width: 30vw;
  background: #59b1e6;
  opacity: 0.5;
  filter: blur(150px);
}
.right {
  margin: auto auto;
}
.ticket {
  margin-top: -200px;
  position: relative;
}
.line1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
}

.line2 {
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183e;
}
