.compname {
  font-weight: bold;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
}
.l {
  font-weight: 500;
  font-size: 17px;
  line-height: 124.5%;
  color: #5e6282;
  margin: 2vh auto;
}
